# SSL e Domínio
JUPYTERHUB_BIND_URL=http://0.0.0.0:443
# Keycloak / OAuth
OAUTH_CLIENT_ID=jupyterhub
OAUTH_CLIENT_SECRET=Cl49HRH5Pic0u9oEz9jkMOezIknxERYv
OAUTH_CALLBACK_URL=http://sci.lapig.iesa.ufg.br/hub/oauth_callback
OAUTH_AUTHORIZE_URL=http://auth.lapig.iesa.ufg.br/realms/master/protocol/openid-connect/auth
OAUTH_TOKEN_URL=http://auth.lapig.iesa.ufg.br/realms/master/protocol/openid-connect/token

# Infraestrutura Docker
DOCKER_NETWORK_NAME=web_lapig
DOCKER_NOTEBOOK_IMAGE=lapig/jupterlab:v3.0.7
USERS_JSON_PATH=/srv/jupyterhub/users.json